<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

@model ASI.Basecode.Services.ServiceModels.AdminCreateUserViewModel
@{
    ViewData["Title"] = "View User Modal Page";
}

<div id="viewUserModal" class="fixed inset-0 bg-black bg-opacity-40 backdrop-blur-sm flex justify-center items-center hidden z-50">

    <div class="flex flex-row bg-white rounded-xl w-full max-w-6xl h-[700px] shadow-lg relative">
        <div class="w-[450px] flex flex-col items-center justify-center bg-[#640A16] rounded-l-xl">
            <div class="absolute top-5 left-5">
                <a onclick="closeViewDetails()" class="hover-pointer">
                    <span class="material-symbols-outlined text-[50px] text-white">arrow_circle_left</span>
                </a>
            </div>
            
            <div class="flex items-center justify-center bg-[#FFE9C6] w-[250px] h-[250px] rounded-full mb-5">
            </div>
            
            <div class="flex flex-col items-center gap-1">
                <h1 class="uppercase text-2xl text-white">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</h1>
                <h2 class="text-sm text-white">ID: **********</h2>
                <h2 class="text-sm text-white">@HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</h2>
            </div>
        </div>
        @* Details *@
        <div class="p-5 flex-1">
            <h2 class="inline-block p-2 text-2xl font-bold mb-4 bg-[#EAC231] uppercase rounded-lg">Profile Details</h2>

           
            <div class="flex items-center gap-4 mb-4">
                <h2 class="inline-block p-2 text-sm text-white font-bold bg-[#640A16] uppercase rounded-lg ">First Name</h2>
                <div class="flex justify-center">
                    <h2 class="flex justify-center items-center text-base font-medium text-black">Gabriel</h2>

                </div>
            </div>

            
            <div class="flex items-center gap-4 mb-4">
                <h2 class="inline-block p-2 text-sm text-white font-bold bg-[#640A16] uppercase rounded-lg ">Last Name</h2>
                <h2 class="flex justify-center text-base font-medium text-black">Gabriel</h2>
            </div>

            
            <div class="flex items-center gap-4 mb-4">
                <h2 class="inline-block p-2 text-sm text-white font-bold bg-[#640A16] uppercase rounded-lg">Date of Birth</h2>
                <h2 class="flex justify-center text-base font-medium text-black">Gabriel</h2>
            </div>

            <div class="flex items-center gap-4 mb-4">
                <h2 class="inline-block p-2 text-sm text-white font-bold bg-[#640A16] uppercase rounded-lg ">Contact Number</h2>
                <h2 class="flex justify-center text-base font-medium text-black">Gabriel</h2>
            </div>
            <div class="flex items-center gap-4 mb-4">
                <h2 class="inline-block p-2 text-sm text-white font-bold bg-[#640A16] uppercase rounded-lg">Account Created Date</h2>
                <h2 class="flex justify-center text-base font-medium text-black">Gabriel</h2>
            </div>
        </div>

    </div>
</div>