@model TrainingViewModel

@{
    var categories = ViewData["categories"] as List<TrainingCategoryViewModel>;
}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div id="addTraining" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-black bg-opacity-40 backdrop-blur-sm">
    <div class="animate-slide-up animate-fade-in flex max-h-[800px] w-full max-w-3xl flex-col rounded-xl bg-[#640A16] p-6 text-white opacity-0 shadow-lg">
        <div class="flex">
            <a onclick="closeAddTraining()" class="hover-pointer">
                <span class="material-symbols-outlined text-[50px]">arrow_circle_left</span>
            </a>
        </div>
        <div class="align-items-center my-2 flex w-full justify-start">
            <h1 class="font-weight-bold text-2xl uppercase">Add New Training</h1>
        </div>
        <form asp-action="AddTraining" asp-controller="AdminTraining" method="post" enctype="multipart/form-data" class="flex flex-col gap-4">
            <label for="CoverPictureAddTraining" class="flex h-[125px] w-full cursor-pointer flex-col items-center justify-center rounded-xl bg-white">
                <input type="file"
                       name="CoverPictureAddTraining"
                       id="CoverPictureAddTraining"
                       accept="image/*"
                       class="hidden" />
                <img id="CoverPictureAddTrainingPreview" alt="Cover Picture" class="hidden h-full w-full rounded-xl object-cover" />
                <span id="CoverPictureAddTrainingPlaceholder" class="material-symbols-outlined text-[50px] text-black">add_photo_alternate</span>
                <h1 id="CoverPictureAddTrainingText" class="uppercase text-black">Upload Cover Photo</h1>
            </label>
            <div class="flex flex-col gap-2">
                <div class="flex gap-4">
                    <div class="w-1/2">
                        <label asp-for="TrainingName" class="mb-2 block text-sm font-medium text-white">Training Name</label>
                        <input asp-for="TrainingName" class="w-full rounded-md border border-gray-300 px-3 py-2 text-black focus:outline-none focus:ring-2 focus:ring-[#EAC231]" />
                        <span asp-validation-for="TrainingName" class="text-sm text-red-500"></span>
                    </div>
                    <div class="w-1/2">
                        <label asp-for="CourseCode" class="mb-2 block text-sm font-medium text-white">Course Code</label>
                        <input asp-for="CourseCode" class="w-full rounded-md border border-gray-300 px-3 py-2 text-black focus:outline-none focus:ring-2 focus:ring-[#EAC231]" />
                        <span asp-validation-for="CourseCode" class="text-sm text-red-500"></span>
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="w-1/2">
                        <label asp-for="TrainingCategoryId" class="mb-2 block text-sm font-medium text-white">Training Category</label>
                        <select asp-for="TrainingCategoryId" class="w-full rounded-md border border-gray-300 px-2 py-2 text-black focus:outline-none focus:ring-2 focus:ring-[#EAC231]">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="TrainingCategoryId" class="text-sm text-red-500"></span>
                    </div>
                    <div class="w-1/2">
                        <label asp-for="SkillLevel" class="mb-2 block text-sm font-medium text-white">Skill Level</label>
                        <select asp-for="SkillLevel" class="w-full rounded-md border border-gray-300 px-2 py-2 text-black focus:outline-none focus:ring-2 focus:ring-[#EAC231]">
                            <option value="1">Beginner</option>
                            <option value="2">Intermediate</option>
                            <option value="3">Advanced</option>
                        </select>
                        <span asp-validation-for="SkillLevel" class="text-sm text-red-500"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Description" class="mb-2 block text-sm font-medium text-white">@Html.DisplayNameFor(m => m.Description)</label>
                    <textarea asp-for="Description" rows="3" class="w-full rounded-md border border-gray-300 px-3 py-2 text-black focus:outline-none focus:ring-2 focus:ring-[#EAC231]"></textarea>
                    <span asp-validation-for="Description" class="text-sm text-red-500"></span>
                </div>
                <div class="w-full">
                    <label class="mb-2 block text-sm font-medium text-white">Estimated Time to Complete</label>
                    <select name="Duration" class="form-control" required>
                        <option value="1">1 week</option>
                        <option value="2">2 weeks</option>
                        <option value="3">3 weeks</option>
                        <option value="4">1 month</option>
                        <option value="5">2 months</option>
                        <option value="6">3 months</option>
                        <option value="7">4–6 months</option>
                        <option value="8">6–9 months</option>
                        <option value="9">9–12 months</option>
                        <option value="10">1 year</option>
                        <option value="11">More than 1 year</option>
                    </select>
                </div>
                <button class="align-self-center font-weight-bold mt-2 w-2/3 rounded-xl bg-[#FFE9C6] py-2 text-black hover:bg-[#e6c89c]">
                    Add Training
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    // Show preview of uploaded image when a new file is selected in AddTraining modal
    document.getElementById('CoverPictureAddTraining').addEventListener('change', function() {
        const file = this.files[0];
        const imageElement = document.getElementById('CoverPictureAddTrainingPreview');
        const placeholderElement = document.getElementById('CoverPictureAddTrainingPlaceholder');
        const textElement = document.getElementById('CoverPictureAddTrainingText');
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imageElement.src = e.target.result;
                imageElement.classList.remove('hidden');
                placeholderElement.classList.add('hidden');
                placeholderElement.classList.remove('material-symbols-outlined');
                textElement.classList.add('hidden');
            };
            reader.readAsDataURL(file);
        } else {
            imageElement.classList.add('hidden');
            placeholderElement.classList.remove('hidden');
            placeholderElement.classList.add('material-symbols-outlined');
            textElement.classList.remove('hidden');
        }
    });
</script>