@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
    ViewData["Title"] = "Ma22";
}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="flex flex-col bg-white h-screen p-20 gap-20">

    <div class="flex items-center justify-between">
        <div class="flex gap-2 items-center">
            <img src="/img/Logo.png" class="w-[50px] h-[50px]"/>
            <div class="flex flex-col">
                <h1 class="font-bold text-2xl">Ma22</h1>
                <p class="text-sm">Clear. Reliable. Easy to Understand.</p>
            </div>

        </div>
        <div class="flex gap-20 items-center">
            <a>
                Home
            </a>
            <a onclick="scrollToProduct()" class="hover-pointer" >
                Product
            </a>
            <a>
                Testimonials
            </a>
            <a href="@Url.Action("Login", "Account")" class="bg-[#640A16] text-white rounded-lg p-2" >
                Log In
            </a>
        </div>

    </div>

    <div class="flex w-full justify-center space-x-10">
        <div class="flex justify-center items-center w-fit">
            <div class="flex flex-col gap-5">
                <h1 class=" text-6xl font-bold ">
                    Clear. Reliable.<br />
                    Easy to Understand.
                </h1>
                <p class="text-lg font-semibold text-gray-500">
                    Your gateway to reliable and
                    accessible, simplified knowledge
                </p>
                <a asp-controller="Account" asp-action="Register" class="bg-[#640A16] text-white rounded-lg p-2 w-fit">
                    Get Started
                </a>
            </div>
        </div>
        <img src="~/img/bg_5.png" class="w-[35%] " />
    </div>
</div>




<div id ="target-section-product" class="flex flex-col p-20 ">

    <div class="flex flex-col items-center justify-center mb-5">
        
        <div class="flex flex-col gap-2">

            <h2 class="text-5xl text-center font-bold ">
                What we Offer
            </h2>
            <p class="text-sm text-center">We offer a platform for dedicated individuals to hone their skills <br /> and knowledge.</p>
        </div>
        
    </div>
    <div class="flex items-stretch justify-center gap-10">
        <div class="flex flex-col bg-white w-1/4 items-center justify-center p-4 rounded-xl gap-5 hover:scale-105 transition duration-300" >
            <img src="~/img/bg_4.png" class="w-[50%]"/>
            <p class="font-bold text-xl">
                Trainings that Work
            </p>
            <p class="text-center text-sm">We offer trainings that work by delivering practical, engaging sessions designed to build real-world skills. </p>
        </div>
        <div class="flex flex-col bg-white w-1/4 items-center justify-center p-4 rounded-xl gap-5 hover:scale-105 transition duration-300">
            <img src="~/img/bg_2.png" class="w-[70%]" />
            <p class="font-bold text-xl">
                In-Depth Teaching of Topics
            </p>
            <p class="text-center text-sm">We break down complex ideas into practical lessons that learners can easily understand and apply.</p>
        </div>
        <div class="flex flex-col bg-white w-1/4 items-center p-4 rounded-xl gap-5 hover:scale-105 transition duration-300">
            <img src="~/img/bg_1.png" class="w-[70%]" />
            <p class="font-bold text-xl">
                Comprehensive Content
            </p>
            <p class="text-center text-sm">We offer comprehensive content that includes not only videos but also documents and images to help you learn more effectively.</p>
        </div>
    </div>
</div>

<div class="flex flex-col p-20 bg-white ">

    <div class="flex flex-col items-center  mb-5">

        <div class="flex flex-col gap-2">

            <h2 class="text-5xl font-bold ">
                What our Users Say
            </h2>
            
        </div>

    </div>
    <div class="flex items-stretch justify-center gap-10">
        <div class="flex flex-col w-1/4 h-[400px] border-2 border-black rounded-xl">
            <span class="material-symbols-outlined bg-[#EAC231] border-b-2 border-black rounded-tl-lg rounded-tr-lg px-4 !text-[40px]">more_horiz</span>
            <p class="p-4 text-sm">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
        </div>
        <div class="flex flex-col w-1/4 h-[400px] border-2 border-black rounded-xl">
            <span class="material-symbols-outlined bg-[#EAC231] border-b-2 border-black rounded-tl-lg rounded-tr-lg px-4 !text-[40px]">more_horiz</span>
            <p class="p-4 text-sm">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
        </div>
        <div class="flex flex-col w-1/4 h-[400px] border-2 border-black rounded-xl">
            <span class="material-symbols-outlined bg-[#EAC231] border-b-2 border-black rounded-tl-lg rounded-tr-lg px-4 !text-[40px]">more_horiz</span>
            <p class="p-4 text-sm">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
        </div>
    </div>
</div>

<div class="flex flex-col justify-center items-center p-20 gap-10">
    <div class="flex text-center ">
        <h1 class="font-bold text-5xl">Unlock Your Potential and Elevate Your Knowledge With Our Learning Hub</h1>
    </div>
    <a asp-controller="Account" asp-action="Register" class="bg-[#640A16] text-white rounded-lg px-4 py-2">
        Get Started
    </a>
    <img src="/img/bg_8.png" class="w-[50%]"/>

</div>

<script>
    function scrollToProduct() {
          document.getElementById("target-section-product").scrollIntoView({
            behavior: "smooth"
          });
    }
</script>
